<!DOCTYPE html>
<html lang="en">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="../../static/css/register.css">
<link rel="icon" href="../../static/assets/logo.png" type="image/png" sizes="16x16">


<head>
    <meta charset="UTF-8">
    <title>Create secretary</title>
    <script>
        /* function checkPassowrd(form) {
             password = form.password.value;
             password_confirm = form.password_confirm.value;

             if (password == '')
                 alert ("Please enter Password");
             else if (password_confirm == '')
                 alert ("Please enter password confirmation");
             else if (password != password_confirm) {
                 alert("\nPassword did not match: please try again...")
                 return false;
             }
         } */

        function onChange() {
            const password = document.querySelector('input[name=password]');
            const confirm = document.querySelector('input[name=password_confirm]');
            if (confirm.value === password.value) {
                confirm.setCustomValidity('');
            } else {
                confirm.setCustomValidity('Passwords do not match');
            }
        }

    </script>
</head>
<body>

<div class="wrapper fadeInDown">
    <form class="form-horizontal" action='' method="POST">
        <fieldset>
            <div id="formHeader">
                <h3>Create Secretary</h3>
            </div>
            <div class="control-group">
                <!-- Name -->
                <label class="control-label"  for="firstname">First name</label>
                <div class="controls">
                    <input type="text" id="firstname" name="firstname" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="control-group">
                <!-- SurName -->
                <label class="control-label"  for="surname">Surname</label>
                <div class="controls">
                    <input type="text" id="surname" name="surname" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="control-group">
                <!-- CPR -->
                <label class="control-label"  for="cpr">Cpr no.</label>
                <div class="controls">
                    <input type="text" id="cpr" name="cpr" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                    <p class="help-block">Please provide your E-mail</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                    <p class="help-block">Password should be at least 4 characters</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password -->
                <label class="control-label"  for="password_confirm">Password<a style="font-size: 12px; text-decoration: none; color: #000000">(Confirm)</a></label>
                <div class="controls">
                    <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge" onChange="onChange()">
                    <p class="help-block">Please confirm password</p>
                </div>
            </div>

            <div class="control-group" >
                <!-- Button -->
                <div class="controls" style="margin: auto">
                    <input onclick="checkPassowrd(form)" type="submit" class="fadeIn fourth" value="Create" onChange="onChange()">
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>