<!DOCTYPE html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day Care Project</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
      crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/reset.css">
  <link rel="stylesheet" href="../static/signin.css">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <div id="formHeader">
            <h3>Sign In</h3>
          </div>
          <!-- Login Form -->
          <form id="loginForm">
            <div class="form-floating fadeIn second">
                <input type="email" class="form-control " id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email Address</label>
            </div>
            <div class="form-floating fadeIn third">
                <input type="password" class="form-control " id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            Don't have an account yet? <a class="underlineHover" href="#"> Register</a>
          </div>
      
        </div>
      </div>
</body>

<script>
    //check if the users cookie exist in the browser
    (function() {
        // your page initialization code here
        // the DOM will be available here
        console.log("docuemnt ready")
        const userid=getCookie("userID");
        console.log(userid)
        if(userid>0){
            window.location.replace("/admin");
        }
    })();

    document.querySelector("#loginForm").addEventListener("submit", function(e){
            e.preventDefault();    //stop form from submitting
        console.log("We are here")
        var email = document.getElementById("floatingInput").value;
        var password = document.getElementById("floatingPassword").value;

        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "api/user/login", true);
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {

                // Response
                var response = this.responseText;
                var cookies =JSON.parse(response);
                console.log(cookies);

                document.cookie = "userID="+cookies.idUser;
                document.cookie = "username="+cookies.name;
                document.cookie = "token="+cookies.token;
                document.cookie = "loginTime="+cookies.loginTime;
                document.cookie = "userType="+cookies.userType.type;
                window.location.replace("/admin");
            }
        };
        var data={"password":password,"email":email};
        xhttp.send(JSON.stringify(data));

    });
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>
</html>