<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/useractions.css" />
    <title>Tests</title>
  </head>
  <body>
    <a href="/secretary">
      <i class="fas fa-arrow-circle-left"></i>
    </a>
    <form class="d-flex">
      <input
        class="form-control me-2 search"
        type="search"
        placeholder="Search for user or email address..."
        aria-label="Search"
      />
    </form>
    <div class="container-fluid h-100">
      <div
        class="
          table_wrapper table-responsive table-container
          testTableContainer
        "
      >
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">(ID)CPR Number</th>
              <th scope="col">Test place</th>
              <th scope="col">Type</th>
              <th scope="col">Status</th>
              <th scope="col">Test time</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody class="testTable"></tbody>
        </table>
      </div>

      <!-- Edit tests -->
      <div class="test-modal testedit d-none" id="testedit" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel3">edit test</h5>
              <h6 class="name"></h6>
            </div>
            <div class="modal-body">
              <form id="add_child_form3">
                <div class="mb-3">
                  <input
                    type="text"
                    class="date-input"
                    id="bookingID"
                    value=""
                    hidden
                  />
                </div>
                <div class="mb-3">
                  <label for="cpr" class="form-label">Status</label>
                  <select
                    class="form-control"
                    id="bookingStatus"
                    name="bookingType"
                  >
                    <option value="1">pending</option>
                    <option value="2">positive</option>
                    <option value="3">negative</option>
                    <option value="4">vaccinated</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary EditTest">
                  SAVE
                </button>
                <button class="btn btn-danger closeTest">Close</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- edit tests end -->
    </div>

    <script src="../static/js/cookie.js"></script>
    <script src="../static/js/authSecretary.js"></script>
    <script type="text/javascript" src="../static/js/test.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
